<!-- readonly && set value-->
<table id="puzzle_grid" cellspacing="0" cellpadding="0" class="t">
  <tbody>
    <tr>
      <td class="f0">
        <input class="d0" name="a1" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="a2" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="a3" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="a4" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="a5" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="a6" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="a7" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="a8" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="a9" maxlength="1" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td class="f0">
        <input class="d0" name="b1" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="b2" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="b3" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="b4" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="b5" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="b6" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="b7" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="b8" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="b9" maxlength="1" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td class="f0">
        <input class="d0" name="c1" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="c2" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="c3" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="c4" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="c5" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="c6" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="c7" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="c8" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="c9" maxlength="1" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td class="f0">
        <input class="d0" name="d1" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d2" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d3" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d4" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d5" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d6" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d7" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d8" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d9" maxlength="1" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td class="f0">
        <input class="d0" name="e1" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e2" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e3" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e4" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e5" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e6" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e7" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e8" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e9" maxlength="1" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td class="f0">
        <input class="d0" name="d1" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d2" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d3" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d4" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d5" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d6" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d7" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d8" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="d9" maxlength="1" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td class="f0">
        <input class="d0" name="e1" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e2" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e3" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e4" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e5" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e6" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e7" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="e8" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="a9" maxlength="1" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td class="f0">
        <input class="d0" name="f1" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="f2" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="f3" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="f4" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="f5" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="f6" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="f7" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="f8" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="f9" maxlength="1" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td class="f0">
        <input class="d0" name="g1" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="g2" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="g3" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="g4" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="g5" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="g6" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="g7" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="g8" maxlength="1" autocomplete="off">
      </td>
      <td class="f0">
        <input class="d0" name="g9" maxlength="1" autocomplete="off">
      </td>
    </tr>
  </tbody>
</table>



