<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title>Do Nothing</title>
</head>
<body>
  <h1 id="title"> Resistance is Futile! </h1>
  <h1 id='end' style="display:none;"> You've been RICKROLLED. <i class='em em-sunglasses'></i></h1>
  <img id="ricka" src='/media/ricka.gif'>
  <img id="ricky" style="display:none;" src='/media/rickpic.jpg'>
  <video id="video" class="fullscreen" src="/media/rickrollvideo.mp4" autoplay/>
</body>
</html>
